@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: futura;
        src: url('../../public/futura.otf');
    }
    .font-futura {
        font-family: futura !important;
    }

    .stroke-white {
        -webkit-text-stroke: 2px #FFFFFF;
    }

    .stroke-black {
        -webkit-text-stroke: 1px #000000;
    }

    .stroke-gray {
        -webkit-text-stroke: 1px #121827;
    }
    
    .stroke-red {
        -webkit-text-stroke: 1px #7F1E1E;
    }

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}